.instagramContainer {
    max-width: 1200px;
    padding: 80px 16px;
    margin: auto;
    p {
        max-width: fit-content;
        margin-bottom: 16px;
        padding: 6px 20px;
        font-size: 16px;
        font-weight: 600;
        color: #3f3b57;
        background-color: #e6e3fa;
        border-radius: 80px;
    }
  
    .sectionHeader {
        padding-bottom: 16px;
        text-align: left;
        border-bottom: 1px solid #908ca3;
    }
  
    .instagramGrid {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
   
      img {
        width: 100%;
        display: flex;
        object-fit: contain;
        height: auto;
      }
    }
  }
  @media (width > 540px){
    .instagramGrid{
        grid-template-columns: repeat(4, 1fr) !important;
    }
  }
