.sectionContainer {
  max-width: 1200px;
  margin: auto;
  padding: 80px 16px;
}

.subscribeContainer {
  .sectionHeader {
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 32px;
    text-align: center;
    overflow: hidden;
    font-size: 40px;
    font-weight: 600;
    color: #020617;
    line-height: 52px;
    span {
      color: #ffa03f;
    }
  }
  .sectionDescription {
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 32px;
    text-align: center;
    color: #1e293b;
  }
  form {
    max-width: 500px;
    margin-inline: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 160, 63, 0.5);
    border-radius: 10px;
  }
  input {
    width: 100%;
    padding-inline: 16px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #ffffff;
    background-color: transparent;
  }
  input::placeholder{
    color: #ffffff;
  }
  .btn{
    padding: 12px 24px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #ffffff;
    background-color: #ffa03f;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }
}
