.sectionContainer {
  max-width: 1200px;
  margin: auto;
  padding: 80px 16px;
}

.popularContainer {
  position: relative;
  isolation: isolate;
  padding-bottom: 16px;
}

.popularBg {
  position: absolute;
  left: 75%;
  top: 0;
  transform: translate(-65%, -50%) rotate(-135deg);
  height: 192px;
  width: unset;
  aspect-ratio: 1;
  object-fit: contain;
}

.sectionSubheader {
  margin-bottom: 16px;
  font-size: 19px;
  font-weight: 500;
  color: #ffa03f;
}
.sectionHeader {
  overflow: hidden;
  font-size: 40px;
  font-weight: 600;
  color: #020617;
  line-height: 52px;
  span {
    color: #ffa03f;
  }
}
.swiper {
  padding-block: 64px;
  width: 100%;
  min-width: 375px;
}
.popularCard {
  margin-inline: 16px;
  overflow: hidden;
  border-radius: 48px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.popularCardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.popularContent {
  position: relative;
  isolation: isolate;
  padding-block: 49px 32px;
  padding-inline: 32px;
}

.popularRating {
  padding: 8px 16px;
  position: absolute;
  top: 0;
  left: 32px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1e293b;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  img {
    margin-right: 5px;
  }
}

.popularContent h4 {
  margin-bottom: 16px;
  font-size: 19.2px;
  font-weight: 600;
  color: #020617;
}

.popularContent p {
  margin-bottom: 16px;
  font-weight: 500;
  color: #1e293b;
  span {
    color: #ffa03f;
  }
}

.popularCardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #1e293b;
  }
  span{
    font-size: 19.2px;
  }
}

